{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Write something...">
                    <span class="input-group-text" id="basic-addon2">
                        <button class="btn"><i class="fa-solid fa-paper-plane text-primary"></i></button>
                    </span>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">                
                <div class="card m-4">
                    <div class="card-header clearfix">
                        <div class="float-start fs-4">
                            <i>ICO</i> USERNAME
                        </div>
                        <div class="float-end mt-1">
                            <span class="fs-6">15:32 08.02.2023</span>
                        </div>
                    </div>
                    <p class="p-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                    <div class="card-header clearfix">
                        <div class="float-start fs-4">
                            USERNAME
                        </div>
                        <div class="float-end mt-1">
                            <span class="fs-6">15:32 08.02.2023</span>
                        </div>
                    </div>
                     <p class="p-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>
                <div class="card m-4">
                     <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur eget augue massa. Ut porta at justo porttitor suscipit.
                         In blandit sem ac quam fringilla dictum. Suspendisse elementum sapien ac consectetur varius. In mollis,
                         nisi quis congue bibendum, nunc ante sollicitudin lectus, nec cursus urna mauris sed sapien. Mauris viverra semper mi,
                          nec ultricies purus tincidunt quis.
                         Aliquam mattis justo in velit pellentesque, quis pharetra purus fermentum.
                    </p>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
{% endblock %}